// Configurable variables
params {
    outdir = './results'
    mode = 'ncbi'
    cpus = 8
    mismatches = 3
    minlength = 11
}

process {
    time = { 24.hour * task.attempt }
    memory = { 8.GB * task.attempt }
    cpus = 1
    cache = 'lenient'
    // errorStrategy = { task.attempt < 3 ? 'retry' : 'finish' }
    withName: run_kaiju {
        memory = { 16.GB * task.attempt }
    }
}

profiles {
    conda { 
        conda.enabled = true
        process.conda = "$baseDir/environment.yml" }
    
    docker {
        docker.enabled = true
        process.container = 'brwnj/classifier-nf:1.1.0'
        }
    singularity {
        singularity.enabled = true
    }
    none {}
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/logs/GORG-Classifier_timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/GORG-Classifier_report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/GORG-Classifier_trace.txt"
}

manifest {
    name = 'BigelowLab/gorg-classifier'
    author = 'Joe Brown'
    description = "Taxonomic and functional classifications of sequences against SCGC's GORG reference database."
    version = '1.0'
    nextflowVersion = '>=0.32.0'
    homePage = 'https://github.com/BigelowLab/gorg-classifier'
    mainScript = 'main.nf'
}
