// Configurable variables
params {
  outdir = './results'
  cpus = 8
  kaiju_mismatches = 3
  kaiju_min_length = 11
}

process {
  errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'terminate' }
  maxRetries = 3
  maxErrors = '-1'
}

profiles {
  conda { process.conda = "$baseDir/environment.yml" }
  docker {
    docker.enabled = true
    process {
        withName: 'run_kaiju|add_taxonomy' {
            container = 'quay.io/biocontainers/kaiju:1.6.3--hdbcaa40_1'
        }
        withName: 'add_functions' {
            container = 'quay.io/biocontainers/gawk:4.1.3--1'
        }
        withName: 'summarize_annotations' {
            container = 'python:2.7.16-slim'
        }
    }
  }
  singularity { singularity.enabled = true }
  none {}
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/logs/GORG-Classifier_timeline.html"
}
report {
  enabled = true
  file = "${params.outdir}/logs/GORG-Classifier_report.html"
}
trace {
  enabled = true
  file = "${params.outdir}/logs/GORG-Classifier_trace.txt"
}
dag {
  enabled = true
  file = "${params.outdir}/logs/GORG-Classifier_dag.svg"
}

manifest {
  name = 'BigelowLab/gorg-classifier'
  author = 'Joe Brown'
  description = "Taxonomic and functional classifications of sequences against SCGC's GORG reference database."
  version = '1.0'
  nextflowVersion = '>=0.32.0'
  homePage = 'https://github.com/BigelowLab/gorg-classifier'
  mainScript = 'main.nf'
}
