// Configurable variables
params {
    outdir = './results'
    kaiju_mismatches = 3
    kaiju_min_length = 11
}

process {
    errorStrategy = { task.exitStatus in [1,143,137,104,134,139] ? 'retry' : 'terminate' }
    maxRetries = 3
    maxErrors = '-1'
    container = 'brwnj/classifier-nf:v1.0.0'
    withName: run_kaiju {
        memory = 16.GB
    }
}

profiles {
    conda { process.conda = "$baseDir/environment.yml" }
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled = true
    }
    none {}
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
    enabled = true
    file = "${params.outdir}/logs/GORG-Classifier_timeline.html"
}
report {
    enabled = true
    file = "${params.outdir}/logs/GORG-Classifier_report.html"
}
trace {
    enabled = true
    file = "${params.outdir}/logs/GORG-Classifier_trace.txt"
}
dag {
    enabled = true
    file = "${params.outdir}/logs/GORG-Classifier_dag.svg"
}

manifest {
    name = 'BigelowLab/gorg-classifier'
    author = 'Joe Brown'
    description = "Taxonomic and functional classifications of sequences against SCGC's GORG reference database."
    version = '1.0'
    nextflowVersion = '>=0.32.0'
    homePage = 'https://github.com/BigelowLab/gorg-classifier'
    mainScript = 'main.nf'
}
